.portofolio-cards {
  margin-top: 60px;

  .portofolio-card {
    background: #fff;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15),
      0px 4px 4px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    overflow: hidden;
    margin-bottom: 30px;
  }
  .portofolio-card-image {
    background-size: cover;
    background-position: center;
    height: 200px;
  }
  .portofolio-card-information {
    padding: 25px 5px;
  }
  .portofolio-card-title {
    display: block;
    font-size: 20px;
    letter-spacing: -0.063rem;
    margin-bottom: 5px;
    font-weight: 600;
  }
  .portofolio-card-credits {
    display: block;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.063rem;
    text-transform: uppercase;
    color: #a7a7a7;
  }
}
